LOG_API_TOKEN="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJNYXBDbGFpbXMiOnsiYXVkIjoiaHR0cDovLzIwLjI0NC41Ni4xNDQvZXZhbHVhdGlvbi1zZXJ2aWNlIiwiZW1haWwiOiJhc2h3aW4yMDI1MDdAZ21haWwuY29tIiwiZXhwIjoxNzUyMjEzNzE3LCJpYXQiOjE3NTIyMTI4MTcsImlzcyI6IkFmZm9yZCBNZWRpY2FsIFRlY2hub2xvZ2llcyBQcml2YXRlIExpbWl0ZWQiLCJqdGkiOiJhMzNlMTc4Zi04NTYxLTRlYzAtOTljOC0wNGNjMTliZTQxMzEiLCJsb2NhbGUiOiJlbi1JTiIsIm5hbWUiOiJhc3dpbiBtIiwic3ViIjoiNzY5ZjdhZDAtMjljMC00ZTk2LWI0NmQtMGM0NTE0MGZhZTIxIn0sImVtYWlsIjoiYXNod2luMjAyNTA3QGdtYWlsLmNvbSIsIm5hbWUiOiJhc3dpbiBtIiwicm9sbE5vIjoidmgxMjIzNCIsImFjY2Vzc0NvZGUiOiJDV2JxZ0siLCJjbGllbnRJRCI6Ijc2OWY3YWQwLTI5YzAtNGU5Ni1iNDZkLTBjNDUxNDBmYWUyMSIsImNsaWVudFNlY3JldCI6IkZuQ2ZRZWhlZnZCdFJDemYifQ.gLu8C4xW8yKO2OrvX1L_3ctYXuC2t7Tfn8uZGbcpSic"
LOG_LEVEL=info
LOG_ENABLED=true
PORT=3000
NODE_ENV=development
